<div id="osd" class="image-viewer" style="border: 1px solid red; height: 80vh"></div>
<script src="https://openseadragon.github.io/openseadragon/openseadragon.min.js"></script>

<script>
  var viewer = OpenSeadragon({
      id:            "osd",
      prefixUrl:     "https://openseadragon.github.io/openseadragon/images/",
      sequenceMode:  true,
      tileSources: ["https://iiif.archivelab.org/iiif/manualonmethodso00robe$21/info.json"]
  });
  var bounds = new OpenSeadragon.Rect(0.25, 0.25, 0.5, 0.5);
  viewer.viewport.fitBounds(bounds, true);  
</script>
