{
  "id": "{{ '/iiif/manualonmethodso00robe/range/{{ include.source }}' | absolute_url }}",
  "type": "Range",
  "label": { "en": [ "{{ include.title }}" ] },
  "items": [
{% for entry in site.data[include.source] %}
  {
    "id": "{{ '/iiif/manualonmethodso00robe/range/{{ include.source }}-' | append: forloop.index0 | absolute_url }}",
    "type": "Range",
    "label": { "en": [ "{{ entry.id }} {{ entry.title }}" ] },
    "items": [
      {
        "id": "https://iiif.archivelab.org/iiif/manualonmethodso00robe${{ entry.canvas_id }}/canvas",
        "type": "Canvas"
      }
    ]
  }{% if forloop.last == false %},{% endif %}
{% endfor %}
  ]
}
