<table>
  <thead>
    <tr>
      <th style="text-align: right">{{ include.unit }}</th>
      <th> </th>
      <th style="text-align: right">{{ include.paging }}</th>
    </tr>
  </thead>
  <tbody>
    
  {% for row in site.data[include.group] %}
    {% assign titleinitial = row.title | slice: 0 %}
    {% assign padded_id = row.id | prepend: "0" | slice: -2, 2 %}
    {% assign page = site.data.pages | where: "page", row.page | first %}

    <tr>
      <td style="text-align: right"><a href="{{ page.section }}{% unless include.group == 'toc' %}#{{ include.group }}_{{ padded_id }}{% endunless %}">{{ row.label }}</a></td>
      <td {% if titleinitial == "(" %}style="padding-left: 2em"{% endif %}>{{ row.title }}</td>
      <td style="text-align: right">{% include pagenumlink.html page=row.page %}</td>
    </tr>
  {% endfor %}
    
  </tbody>
</table>
