<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body class="theme-base-{{site.color-scheme}}">

    <!-- This if statement decides which sidebar to use -->
    {% if page.toc %}
    {% include sidebar-toc.html %}
    {% else %}
    {% include sidebar.html %}
    {% endif %}

    <!--
      Wrap is the content to shift when toggling the sidebar. We wrap the content to avoid any CSS
      collisions with our real content.
    -->
    <div class="wrap">
      <header class="masthead">
        <div class="container" xmlns:cc="http://creativecommons.org/ns#" xmlns:dct="http://purl.org/dc/terms/">
          <h3 class="masthead-title">
            <a href="{{ site.baseurl }}/" title="Home" property="dct:title" rel="cc:attributionURL" href="{{ site.baseurl }}/">{{ site.title | newline_to_br }}</a>
            <br><small>{{ site.tagline }}</small>
          </h3>
          <br/>
          <small>
Edited by <a rel="cc:attributionURL dct:creator" property="cc:attributionName" href="https://pbinkley.github.io/">Peter Binkley</a>; licensed under <a href="http://creativecommons.org/licenses/by/4.0/?ref=chooser-v1" target="_blank" rel="license noopener noreferrer" style="display:inline-block;">CC BY 4.0</a></p> 
          </small>
        </div>
      </header>

      <main class="container content" id="main">
        {{ content }}
      </main>
    </div>

    <label for="sidebar-checkbox" class="sidebar-toggle"></label>

    <script>

    // Highlight search Query
    var url = window.location.href;
      if (url.lastIndexOf("?q=") > 0) {
        // get the index of the parameter, add three (to account for length)
        var stringloc = url.lastIndexOf("?q=") + 3;
        // get the substring (query) and decode
        var searchquery = decodeURIComponent(url.substr(stringloc));
        // regex matches at beginning of line, end of line or word boundary, useful for poetry
        var regex = new RegExp("(?:^|\\b)(" + searchquery + ")(?:$|\\b)", "gim");
        // get, add mark and then set content
        var content = document.getElementById("main").innerHTML;
        document.getElementById("main").innerHTML = content.replace(regex, "<mark>$1</mark>");
      }

      // Toggle sidebar
      (function(document) {
        var toggle = document.querySelector('.sidebar-toggle');
        var sidebar = document.querySelector('#sidebar');
        var checkbox = document.querySelector('#sidebar-checkbox');

        document.addEventListener('click', function(e) {
          var target = e.target;

          if(!checkbox.checked ||
             !sidebar.contains(target) ||
             (target === checkbox || target === toggle)) return;

          checkbox.checked = false;
        }, false);
      })(document);
    </script>

  </body>
</html>
