---
layout: default
---

<article class="narrative">
  {% if page.section %}
    <p class="byline">{{ page.section }}</p>
  {% endif %}
  <h1 class="text-title">{{ page.title }}</h1>
  {% if page.author %}
    <p class="byline">by {{ page.author }}</p>
  {% endif %}
  {% if page.toc_id %}
    <div class="chapter_toc">
      <h4>Contents</h4>
      {% assign entries = site.data.toc | where: "label", page.toc_id %}
      <ul>
      {% for entry in entries %}
        {% for subentry in entry.subsections %}
        <li><a href="#{{ subentry.title | remove: "'" | slugify }}">{{ subentry.title }}</a>
          {% if subentry.subsections %}
            <ul>
              {% for subsubentry in subentry.subsections %}
              <li><a href="#{{ subsubentry.title | remove: "'" | slugify }}">{{ subsubentry.title }}</a>
              {% endfor %}             
            </ul>
          {% endif %}
        </li>
        {% endfor %}
      {% endfor %}
    </ul>
    </div>
  {% endif %}
  <p>Word count: {{ content | strip_html | number_of_words | divided_by: 100.0 | round | times: 100 }}</p>
  {{ content }}
</article>

